/Simulator/Simulator/obj/Debug/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
/Simulator/.vs/Simulator/FileContentIndex/22f1cd4b-eb2b-4db1-b6e9-e958b42931e2.vsidx
/Simulator/Simulator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Simulator/.vs/Simulator/FileContentIndex/read.lock
/Simulator/Simulator/obj/Debug/Simulator.csproj.CoreCompileInputs.cache
/Simulator/Simulator/obj/Debug/Simulator.csproj.FileListAbsolute.txt
/Simulator/Simulator/obj/Debug/Simulator.csproj.SuggestedBindingRedirects.cache
/Simulator/Simulator/bin/Debug/Simulator.exe
/Simulator/Simulator/obj/Debug/Simulator.exe
/Simulator/Simulator/bin/Debug/Simulator.pdb
/Simulator/Simulator/obj/Debug/Simulator.pdb
